<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="refresh" content="30">
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <!-- to make html table sortable -->
    <!-- <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script> -->


    <style>
        html {
            scroll-behavior: smooth;
        }

        .multiline {
            white-space: pre-line;
            font-size: 25px;
            text-align: center;

        }

        .background {
            background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .clipboard {
            border: 0;
            padding: 15px;
            border-radius: 3px;
            background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
            cursor: pointer;
            color: #04048c;
            font-family: 'Karla', sans-serif;
            font-size: 16px;
            position: relative;
            top: 0;
            transition: all .2s ease;
        }

        .table {background-color: antiquewhite;}
        .record-success {background-color: #96f199}
        .record-failed {background-color: #faafaf}

        #available-msg {font-size: 40px;}
        #available-at-pincode-msg {font-size: 25px;}
    </style>

</head>

<body>

    <p align='center' style="color: black;"><b>Will Refresh Automatically every 30s</b></p>
    <p class="alert alert-error" align="center" id="fetch-failed"></p>

    <div class="alert alert-info multiline">
        <p id='filters-info'></p>
    </div>

    <div id="available-div" >
        <p align="center" id="available-msg"></p>
        <p align="center" id="available-at-pincode-msg"></p>
        <a href="https://selfregistration.cowin.gov.in/" class="btn btn-primary" target="="_blank>COWIN SIGN IN</a>
    </div>

    <div class="background">
        <center>
          <button class="clipboard">Click me to copy current Quick Acess Url</button>
          <p id='url-copied'></p>
        </center>
    </div>

    <div class="container-fluid">
        <table class="table" id="cowinData" border="1"></table>
    </div>

    <p class="alert alert-warning" align="center" id="no-data-msg"></p>
    <p class="alert alert-danger multiline" align="center" id="error-msg"></p>


    <footer class="page-footer font-small" style="color:#000">
        <div class="text-center">Version=0.1  @ e s o t e r i i k o s</div>
    </footer>


    <script>
        // to copy current url
        var $temp = $("<input>");
        var $url = $(location).attr('href');

        $('.clipboard').on('click', function() {
        $("body").append($temp);
        $temp.val($url).select();
        document.execCommand("copy");
        $temp.remove();
        $("#url-copied").text("URL copied!");
        })


        // fetch , json to html, check and validate conditions
        function loadDoc() {
            var url_string = window.location.href
            var url = new URL(url_string);
            // Require for base api
            var district_id = url.searchParams.get("district_id");
            var date = url.searchParams.get("date");

            // Filters
            var dose = url.searchParams.get("dose");
            var pincode = url.searchParams.get("pincode");
            var age = url.searchParams.get("age");
            var vaccine = url.searchParams.get("vaccine");
            var fee = url.searchParams.get("fee");

            // Regex to check India pincode
            // var pincode_regex = "^[1-9]{1}[0-9]{2}\\s{0,1}[0-9]{3}$";
            var pincode_regex = "^[1-9]{1}[0-9]{5}$";
            // validator or checker
            var filter_txt = ""

            // dose
            if (dose == null) {
                dose = "any"
            }
            filter_txt += "Dose: " + dose.toUpperCase();


            if (age == null) age = "any";
            filter_txt += ", Age: " + age.toUpperCase()+"+";

            if (vaccine == null) vaccine = "any";
            filter_txt += ", Vaccine: " + vaccine.toUpperCase();

            if (fee == null) fee = "any";
            filter_txt += ", Fee: " + fee.toUpperCase();

            if (pincode == null || pincode == "" || pincode==="any") {
                pincode = 'any'
                filter_txt += ", Pincode: " + pincode.toUpperCase();
            }
            else {
                var result = pincode.toString().match(pincode_regex);
                if (result) {
                    filter_txt += ", Pincode : " + pincode.toUpperCase();
                }
                else {
                    pincode = 'any'
                    filter_txt += ", Pincode: " + pincode.toUpperCase() + " - invalid pincode";
                }
            }

            // Date validation
            // date regex validator Big PP
            // var date_regex = new RegExp(["^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[13-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$"]);
            // var result = "26/05/2021".match(date_regex);

            if (date==null || date==''){
                // get todays date dd-mm-yyyy
                var today = new Date();

                var dd = today.getDate();
                var mm = today.getMonth() + 1;
                var yyyy = today.getFullYear();
                if (dd < 10) {
                    dd = '0' + dd;
                }
                if (mm < 10) {
                    mm = '0' + mm;
                }
                date = dd + '-' + mm + '-' + yyyy;
            }
            filter_txt += "\nDate: "+date


            document.getElementById("filters-info").innerHTML = "<b>Your Filters:</b>\n" + filter_txt;


            // GET Request
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    // document.getElementById("id").innerHTML = this.responseText; //to display

                    // console.log(this.responseText);

                    var data_json = JSON.parse(this.responseText)

                    // checking for data
                    if (data_json.centers.length == 0) {
                        document.getElementById("no-data-msg").innerHTML = "NO DATA FOR ANY SLOTS AVAILABLE FOR NOW";
                    }

                    // json to html table 
                    // need to pass json parse 
                    var txt = "", min_doses=0, records_count=0, records_success=[];
                    txt += "<tr><th>Center ID</th><th>Center Name</th><th>District</th><th>Pincode</th><th>Vaccine</th><th>Minimum Age</th><th>DOSE 1</th><th>DOSE 2</th><th>Total Doses</th><th>FEE</th></tr>"
                    for (var i = 0; i < data_json.centers.length; i++) 
                    {                                        
                        for (var j = 0; j < data_json.centers[i].sessions.length; j++) 
                        {
                            // console.log(data_json.centers[i].sessions[j].date);
                            if (date === data_json.centers[i].sessions[j].date)
                                if ((vaccine.toUpperCase() === "COVISHIELD" && data_json.centers[i].sessions[j].vaccine === "COVISHIELD") || (vaccine.toUpperCase() === "COVAXIN" && data_json.centers[i].sessions[j].vaccine === "COVAXIN") || vaccine === 'any')
                                    if ((age == 18 && data_json.centers[i].sessions[j].min_age_limit == 18) || (age == 45 && data_json.centers[i].sessions[j].min_age_limit == 45) || age === 'any')
                                        if ((fee.toUpperCase() === 'FREE' && data_json.centers[i].fee_type === "Free") || (fee.toUpperCase() == 'PAID' && data_json.centers[i].fee_type === "Paid") || fee == 'any') 
                                            if (data_json.centers[i].pincode.toString() === pincode.toString() || pincode == 'any') 
                                            {
                                                
                                                    // to color green or red based on query
                                                    if (((dose === "any") && (data_json.centers[i].sessions[j].available_capacity>min_doses)) || ((dose === "1") && (data_json.centers[i].sessions[j].available_capacity_dose1>min_doses)) || ((dose === "2") && (data_json.centers[i].sessions[j].available_capacity_dose2>min_doses)))
                                                    {
                                                        txt += "<tr class='record-success'>";
                                                        // console.log( data_json.centers[i].center_id);

                                                        records_success.push(data_json.centers[i].pincode);
                                                    }
                                                    else  txt += "<tr class='record-failed'>";
                                                    txt += "<td>" + data_json.centers[i].center_id + "</td>";
                                                    txt += "<td>" + data_json.centers[i].name + "</td>";
                                                    // txt += "<td>" + data_json.centers[i].address + "</td>";
                                                    txt += "<td>" + data_json.centers[i].district_name + "</td>";
                                                    txt += "<td>" + data_json.centers[i].pincode + "</td>";
                                                    txt += "<td>" + data_json.centers[i].sessions[j].vaccine + "</td>";
                                                    txt += "<td>" + data_json.centers[i].sessions[j].min_age_limit + "+</td>";
                                                    txt += "<td>" + data_json.centers[i].sessions[j].available_capacity_dose1 + "</td>";
                                                    txt += "<td>" + data_json.centers[i].sessions[j].available_capacity_dose2 + "</td>";
                                                    txt += "<td>" + data_json.centers[i].sessions[j].available_capacity + "</td>";
                                                    txt += "<td>" + data_json.centers[i].fee_type + "</td>";
                                                    txt += "</tr>";

                                                    // get records in an array to check and display Available 
                                                    records_count++;
                                                
                                            }
                            }
                    }
                    document.getElementById("cowinData").innerHTML = txt;

                    console.log(records_count)
                    if (records_count === 0) document.getElementById("error-msg").innerHTML = "Data not updated by CoWin yet OR Did not match any documents \nSuggestions:\nMake sure that filters are correct. Once the data is availabile, it will be displayed.";
                    if (records_success.length !== 0)
                    {

                        document.getElementById("available-div").setAttribute("class", "alert alert-success multiline");

                        document.getElementById("available-msg").innerHTML ="SLOTS AVAILABLE";
                        var pincode_txt = ""
                        for (var i = 0; i < records_success.length; i++) pincode_txt +=  records_success[i] + ', ';
                        // console.log(pincode_txt)
                        document.getElementById("available-at-pincode-msg").innerHTML = pincode_txt;

                    }
                    else 
                    {
                        document.getElementById("available-div").setAttribute("class", "alert alert-danger multiline");

                        document.getElementById("available-msg").innerHTML ="NO SLOTS AVAILABLE"

                    }
                }
                // TODO: for some reason not working as expected
                // else if (this.status!=200) {document.getElementById("fetch-failed").innerHTML = "API Failed to Fetch Data : Error "+this.status;}

            };
            xhttp.open("GET", "https://cdn-api.co-vin.in/api/v2/appointment/sessions/public/calendarByDistrict?district_id=" + district_id + "&date=" + date, true);

            xhttp.send();
        }

        loadDoc();



        // Builds the HTML Table out of json data 
        // function buildHtmlTable(data_json) 
        // {
        //     var txt = "";
        //     txt += "<tr><th>Center Name</th><th>Pincode</th><th>Vaccine</th><th>Minimum Age</th><th>DOSE 1</th><th>DOSE 2</th><th>Total Doses</th><th>FEE</th></tr>"
        //     for (var i = 0 ; i < data_json.centers.length ; i++)
        //     {
        //         // document.getElementById("showData").innerHTML = data_json.centers[i].center_id;
        //         txt += "<tr>";
        //         // txt += "<td>" + data_json.centers[i].center_id + "</td>";
        //         txt += "<td>" + data_json.centers[i].name + "</td>";
        //         txt += "<td>" + data_json.centers[i].pincode + "</td>";
        //         txt += "<td>" + data_json.centers[i].sessions[0].vaccine + "</td>";
        //         txt += "<td>" + data_json.centers[i].sessions[0].min_age_limit + "+</td>";
        //         txt += "<td>" + data_json.centers[i].sessions[0].available_capacity_dose1 + "</td>";
        //         txt += "<td>" + data_json.centers[i].sessions[0].available_capacity_dose2 + "</td>";
        //         txt += "<td>" + data_json.centers[i].sessions[0].available_capacity + "</td>";
        //         txt += "<td>" + data_json.centers[i].fee_type + "</td>";
        //         txt += "</tr>";
        //     }
        //     return txt
        // }


        // param = this.responseText
        // function sendToServer(myData) {
            //// value I want to send 
            //// var data1 = this.responseText;

            //// document.getElementById("demo").innerHTML = data_json.centers[0].sessions[0].date;


            //// to send the data to url /xyz 
            //// from flask python we can post the data to process using flask.response.json at given url
            // $.ajax({ 
            //     url: '/print1', 
            //     type: 'POST', 
            //     async: true,
            //     contentType: "application/json; charset=utf-8",
            //     data: myData,
            //     success: function(response){ 
            //         console.log(response)
            //         // $('#main').text(response) 
            //     } 
            // })
        // }

    </script>

</body>

</html>